doctype html 
html 
    head 
        title= title 
        link(rel="stylesheet", href="/css/styles.css")
    body 
        header 
            h1 Game DB 
            nav 
                a(href="/") Home |
                a(href="/library") Library |
                a(href="/profile") Profile 
        main 
            block content 