doctype html 
html 
    head 
        title= title 
        link(rel="stylesheet", href="/css/styles.css")
    body 
        header 
            h1 Game DB 
            nav.navbar 
                a.nav-item(href="/") Home
                a.nav-item(href="/library") Library
                a.nav-item(href="/profile") Profile
                form.search-form(action="/search" method="GET")
                  input(type="text" name="query" placeholder="Search for games..." required)
                  button(type="submit") Search
            
        main 
            block content 