extends layout 

block content 
    h2 Your Profile 
    p Manage your account and personal collection here.
    ul 
        li Favourite Games 
        li Recently Played 
    a(href="/library") Browse Library 