extends layout 

block content 
    h2 Register a New Account 
    form(action="/api/auth/register", method="POST")
      div 
        label(for="username") Username: 
        input(type="text", id="username", name="username", required)
      div 
        label(for="email") Email: 
        input(type="email", id="email", name="email", required)
      div 
        label(for="password") Password: 
        input(type="password", id="password", name="password", required)
      div 
        button(type="submit") Register 
    div
    p Already have an account?
    a(href="/login") Login here